<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Resume Ranking Signup</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="./public/css/style.css">
<script src="jquery.min.js" crossorigin="anonymous"></script>
    <script src="popper.min.js" crossorigin="anonymous"></script>
    <script src="bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="jquery.min.js"></script>

</head>
<body>
  <div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<img src="/static/Home_page_image.png" style="width: 50px;height: 50px;margin:5px;display:block; position:relative"></img>
				<h1><a class="navbar-brand" href="#">Resume Ranking System</a></h1>
			</div>
		</nav>
	</div>
<div id="login-form-wrap">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <div class="card text-center" style="card-align-center">
          <div class="card-header">
            <h2>Signup</h2>
  <form id="signup-form" method="POST" action="/user/create">
    <p>
        <div class="input nobottomborder">
            <div class="inputtext">
                Username:
            </div>
      <input type="text" id="username" name="user_id" placeholder="Enter Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
        <div class="input nobottomborder">
            <div class="inputtext">
                Email Id:
            </div>
     <input type="email" id="Email" name="email_id"  placeholder="Enter Email Id" required><i class="validation" required ><span></span><span></span></i>
    </p>
    <p>
      <div class="input nobottomborder">
          <div class="inputtext">
              Phone No:
          </div>
   <input type="text" id="phone_no" name="phone_no" pattern="^\d{10}$" placeholder="Enter Phone No" required><i class="validation"><span></span><span></span></i>
  </p>
    <div class="input nobottomborder">
      <div class="inputtext">
          Password:
      </div>

      <div class="inputcontent">
          <input type="password" id="password" name="passwd" placeholder="Enter Password" required/><br /><span></span><span></span></i>
      </div>
  </div>
  <div class="container text-center" id="signup">
    <input id="signupButton" class="submit" type="submit" value="Signup"/>
</div>
  </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>  
</body>
</html>
